* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(251, 255, 253);
}

h1 {
    color: rgb(6, 6, 6);
}

.flex-containers {
    background-color: rgba(255, 246, 234, 0.656);
}

.pro {
    color: antiquewhite;
    height: 150px;
    width: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKR4lmYA1QR-z3aNw6RnioKLZL6lKM5-evQtlYLSw3vjkxgYhnlyt1hMqBWeQ8_Q9kU7A&usqp=CAU);
}

.search {
    display: flex;
    color: rgb(0, 0, 0);
    padding: 20px;
    background-color: rgb(211, 210, 207);
}

div.search {
    justify-content: center;
}

.results {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
}